JWT_SECRET=minimum_32_characters_long_secret_here

DATABASE_URL=postgresql://user:password@host/dbname?sslmode=require

PORT=3001

RABBITMQ_URL=amqps://user:password@host.cloudamqp.com/vhost

NODE_ENV=development

POST_SERVICE_URL=http://localhost:3002

INTERNAL_SECRET=change_this_to_a_long_random_value