JWT_SECRET=minimum_32_characters_long_secret_here

COOKIE_SECRET=minimum_32_characters_long_secret_here

DATABASE_URL=postgresql://user:password@host/dbname?sslmode=require

PORT=3001

UPSTASH_REDIS_REST_URL=XXXXXXX
UPSTASH_REDIS_REST_TOKEN=XXXXXXX

REDIS_URL=rediss://default:password@host.upstash.io:6379

KAFKA_BROKER=your-kafka-broker-url
KAFKA_USERNAME=your-kafka-username
KAFKA_PASSWORD=your-kafka-password

NODE_ENV=development

RESEND_API_KEY=re_your_resend_api_key_here
RESEND_FROM="Neighbr <onboarding@resend.dev>"