NODE_ENV=development
DATABASE_URL=your_neon_url_here
REDIS_URL=rediss://default:<password>@<host>.upstash.io:6379
KAFKA_BROKER=seed-xxxx.redpanda.svc.cluster.local:9092
KAFKA_USERNAME=neighbr-user
KAFKA_PASSWORD=your_password_here
ALERT_RADIUS_METERS=500